body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url('Space.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.book-container {
  width: 850px;
    margin-left: 150px;
    height: 450px;
    position: center;
    perspective: 1500px; /* Gives a 3D effect */
}

.book {
    width: 75%;
    border: 5px solid blue;
    border-radius: 5px;
    height: 200%;
    position: top;
    transform-style: preserve-3d; /* Ensures child elements are in 3D space */
    transition: transform 1s ease;
    margin-top: none;
    margin-left: 180px;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: left; /* Flips from the left edge */
    transition: transform 1s linear;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back of the element when facing the user */
}

.front img, .back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back {
    transform: rotateY(180deg); /* Rotates the back face into position */
}

/* Class added by JavaScript to flip the page */
.flipped {
    transform: rotateY(-180deg);
    z-index: 1; /* Brings the current page to the front during animation */
}

/* Initial book opening animation (optional) */
@keyframes openBook {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(-30deg); }
}

.book {
    animation: openBook 1s ease forwards;
}
